
  getIamPolicy(
    request: {resource: string},
    options: gax.CallOptions,
    callback: {}
  ) {
    return this._iamClient.getIamPolicy(request, options, callback);
  }
  setIamPolicy(
    request: {resource: string},
    options: gax.CallOptions,
    callback: {}
  ) {
    return this._iamClient.setIamPolicy(request, options, callback);
  }
  testIamPermissions(
    request: {resource: string},
    options: gax.CallOptions,
    callback: {}
  ) {
    return this._iamClient.testIamPermissions(request, options, callback);
  }
}
